		* {
			margin: 0;
			box-sizing: border-box;
			font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
		}

		.header,
		.calendar_month,
		.calendar_day_th,
		.calendar_week {
			/* border: 1px solid lightgray; */
		}

		body {
			background-color: #e5e5f7;
			opacity: 0.8;
			background-image: linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
			background-size: 20px 20px;
		}

		.calendar_body {
			width: 1020px;
			margin: 10px auto;
			/* height: 630px; */
			box-shadow: 5px 5px 72px rgb(30 46 50 / 50%);
			overflow: hidden;
			padding: 6px 6px 10px 10px;
		}

		.header {
			text-align: center;
			justify-content: space-between;
			background-color: white;
		}

		.calendar_year {
			display: flex;
			justify-content: space-between;
			background-color: white;
		}

		.calendar_year>a {
			text-decoration: none;
			font-size: 32px;
			color: lightslategray;
			font-weight: 600;
		}

		.calendar_year>a:hover{
			font-size: 26px;
			border: 3px solid blue;
		}

		.calendar_year>a.year_thisday {
			color: #000;
		}

		.calendar_month {
			display: flex;
			text-align: center;
			justify-content: space-around;
			padding: 6px 0;
			background-color: white;
		}

		.calendar_month>a {
			text-decoration: none;
			font-size: 30px;
			color: lightgray;
			font-weight: 600;
		}

		.calendar_month>a:hover{
			font-size: 24px;
			border: 3px solid blue;
		}

		.calendar_month>a.month_thisday {
			color: #000;
		}

		.calendar_day_th {
			display: flex;
			justify-content: space-around;
			background-color: white;
		}

		.calendar_day_th>div {
			font-size: 24px;
			font-weight: 500;
			flex-basis: 100%;
		}

		.calendar_week {
			display: flex;
			flex-wrap: wrap;
		}

		.calendar_week>div {
			flex-basis: calc(100% / 7);
		}

		.calendar_day {
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			padding: 18px 12px 12px;
			background-color: white;
		}

		.calendar_date {
			font-size: 36px;
			font-weight: 600;
			line-height: 0.7;
		}

		.calendar_task {
			font-size: 16px;
			font-weight: 100;
			padding-top: 6px;
		}

		.bg_color_holi {
			background-color: lavenderblush;
			color: red;
		}

		.bg_color_today {
			/* background-color: lightcyan; */
			border: 3px solid blue;
			/* color: blue; */
		}